.top{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width:899px) {
    .email{
        display: none;
    }
}
@media (max-width:599px) {
    .number{
        display: none;
    }
}